.App {
  text-align: center;
}

.App {
  background-color: #00274c;
  background-image: linear-gradient(#55a0d8, #85bbe3); /* #282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  opacity: 1 !important;
}

.App-link {
  color: #61dafb;
}
