.App {
  text-align: center;
}

.App {
  background-color: #00274c;
  background-image: linear-gradient(#FA8670,#fa927e);/*#ae1e44, #db2e5b);/*#D25D3E, #da7d64);/*#dbbb46, #e2c86b);/* #218085, #2DABB2); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 400;
}

input {
  opacity: 1 !important;
}

.App-link {
  color: #61dafb;
}
